#main {
  display: flex;
  flex-direction: row;
}

.form {
  flex: 1;
  background-color: white;
  margin: 1.5em;
  padding: 1em;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
}

.preview {
  flex: 1;
  background-color: white;
  margin: 1.5em;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
}