.cvEditContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cvEditWrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cvEditForm input,
.cvEditForm textarea {
  margin-top: 0.25rem;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-size: 1rem;
  color: #333;
}

.cvEditForm input:focus,
.cvEditForm textarea:focus {
  outline: none;
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.cvEditForm label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.cvEditForm {
  display: flex;
  flex-direction: column;
}

.educationHeader,
.experienceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  transition: transform 0.3s ease, color 0.3s ease;
}

.iconButton:hover {
  color: #333;
}

.iconButton.rotate {
  transform: rotate(180deg); /* Rotate the arrow 180 degrees */
}

.addEducationButton,
.addExperienceButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0e374e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.addEducationButton:hover,
.addExperienceButton:hover {
  background-color: #0056b3;
}

.educationContent,
.experienceContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.educationList,
.experienceList {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.educationItem,
.experienceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.educationItem:last-child,
.experienceItem:last-child {
  border-bottom: none;
}

.educationActions,
.experienceActions {
  display: flex;
  gap: 0.5rem;
}

.eyeButton {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.eyeButton:hover {
  color: #0056b3;
}

.formActions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.saveButton {
  padding: 0.5rem 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.saveButton:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.saveButton:active {
  background-color: #1e7e34;
  transform: scale(0.95);
}

.cancelButton {
  padding: 0.5rem 1rem;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cancelButton:hover {
  background-color: #5a6268;
  transform: scale(1.05);
}

.cancelButton:active {
  background-color: #4e555b;
  transform: scale(0.95);
}

.deleteButton {
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.deleteButton:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.deleteButton:active {
  background-color: #bd2130;
  transform: scale(0.95);
}

.cvEditButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.cvEditButtons button {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.cvEditButtons button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.cvEditButtons button:active {
  background-color: #004085;
  transform: translateY(0);
  box-shadow: none;
}

.cvEditButtons .clearButton {
  background-color: #dc3545;
}

.cvEditButtons .clearButton:hover {
  background-color: #c82333;
}

.cvEditButtons .clearButton:active {
  background-color: #bd2130;
}
